
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
}

#myCanvas{
	border-width: 10px;
	border-style: ridge;
	background-color: white;
	margin-bottom: 10px;
}